<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>3Tier-System</title>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </h:head>
    <h:body>
        <div class="header">
            <h1>3Tier-System: Product,Customer, and Order Management</h1>
            <br/>
            </div>
        <h:form>
            <h3>Customers</h3>
            <ul>
                <li><h:commandLink action="#{customer.prepareListFromMainPage()}" value="List of Customers"/></li>
                <li><h:commandLink action="#{customer.prepareCreateFromMainPage()}" value="Create a new Customer"/></li>
                <li><h:commandLink action="customer/Search?faces-redirect=true" value="Search for a Customer"/></li>
            </ul>
            <h3>Books</h3>
            <ul>
                <li><h:commandLink action="#{book.prepareListFromMainPage()}" value="The Stock of Books"/></li>
                <li><h:commandLink action="#{book.prepareCreateFromMainPage()}" value="Create a new Book"/></li>
                <li><h:commandLink action="book/Search?faces-redirect=true" value="Search for a Book"/></li>
            </ul>
            <h3>CDs</h3>
            <ul>
                <li><h:commandLink action="#{cd.prepareListFromMainPage()}" value="The Stock of CDs"/></li>
                <li><h:commandLink action="#{cd.prepareCreateFromMainPage()}" value="Create a new CD"/></li>
                <li><h:commandLink action="cd/Search?faces-redirect=true" value="Search for a CD"/></li>
            </ul>
            <h3>Orders</h3>
            <ul>
                <li><h:commandLink action="#{order.prepareListFromMainPage()}" value="List of Orders"/></li>
                <li><h:commandLink action="#{order.prepareCreateFromMainPage()}" value="Create a new Order"/></li>
                <li><h:commandLink action="order/Search?faces-redirect=true" value="Search for an Order"/></li>
            </ul>
             <cr>
                
              <marquee> COIT20227: Enterprise Computing. Atiar Khan, Student ID: s0217325
              </marquee>
                 </cr>
            </h:form>
    </h:body>
</html>

